﻿@model BMI.Models.Person

@{
    ViewBag.Title = "Index";
}

<h2>計算你的BMI</h2>

@using (Html.BeginForm("Create", "BMI", FormMethod.Post)) {
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>請輸入身高、體重進行計算</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CM, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CM, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CM, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KG, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KG, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KG, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="開始計算" class="btn btn-default" />
            </div>
        </div>
    </div>
}

